{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2>{{ 'Breadcrumb'|t }}</h2>
    <ul class="m-breadcrumb">
    {% for item in breadcrumb %}
     <li{{ attributes.addClass(is_active ? 'active') }}>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
